body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
}
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
a:hover {
  color: rgb(180, 178, 178);
}

html {
  font-size: 16px;
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #000000 #ffffff;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 12px;
  width: 12px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #000000;
  border: 1px solid #ffffff;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #000000;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #000000;
}
